<div>
  <h3>Add A Book:</h3>
  <div class="add_book">
    <label>Title
      <input type="text" name="title" placeholder="Goosebumps" ng-model="title">
    </label>
    <label>Author
      <input type="text" name="author" placeholder="R.L. Stein" ng-model="author">
    </label>
  </div>
  <button ng-click="BookService.addBook({title: title, author: author}); title=''; author='';">Add Book</button>
  <h3>Books:</h3>
  <div>
    <label>Find Book:
      <input type="search" name="bookTitle" placeholder="Sherlock Holmes" ng-model="bookTitleFilterValue">
    </label>
  </div>
  <ul class="value_of_books">
    <li ng-repeat="book in BookService.books | filter: {title: bookTitleFilterValue } | orderBy: '-title'">
      <h4 class="book_title">{{book.title}}</h4>
      <p class="book_author">{{book.author}}</p>
    </li>
  </ul>
</div>